.mocharc.json
.nyc_output
.nycrc.json
coverage/
dist/cjs/**/*.*
dist/esm/**/*.*
dist/system/index.d.ts
dist/system/atoms/**/*.*
dist/system/checks/**/*.*
dist/system/core/**/*.*
dist/system/geometries/**/*.*
dist/system/i18n/*.*
dist/system/math/**/*.*
dist/system/src/**/*.*
dist/system/tests/**/*.*
dist/system/utils/**/*.*
dist/umd/**/*.*
register.js
rollup.config.js
src/**/*.*
tests/**/*.*
tsconfig.json
types/**/*.*
